.sevenweather_html{
    display: flex;
    justify-content: space-between;
}
.sevendaysweather{
    margin: auto;
    padding: 10px;
}
.sweathercode_html{
    width: 80%;
    display: block;
        margin-left: auto;
        margin-right: auto;
}

.date {
    text-align: center;
    font-weight: bold;
}