@import url(./styles/dateweather.scss);
@import url(./styles/search.scss);
@import url(./styles/currentweather.scss);
@import url(./styles/title.scss);
@import url(./styles/weather.scss);
@import url(./styles/7days.scss);

body {
  margin-top: 20px;
  color: #0d4d89;
  font-family: Tahoma;
  background-color: #e6f6f9;
}
